nav {
    /* @HACER test border */
    border: blue solid thin;
    margin-bottom: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}